/* Cor padrão para dias da semana (segunda a sábado) */
.rbc-header {
  color: #2563eb !important; /* azul padrão Tailwind */
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}

/* Cor para domingo (1ª coluna) */
 .rbc-header:last-child {
  color: #dc2626 !important; /* vermelho padrão Tailwind */
}
/* Remove as bordas externas do calendário */
.rbc-time-view,
.rbc-time-content,
.rbc-timeslot-group,
.rbc-time-header,
.rbc-time-header-content,
.rbc-header,
.rbc-month-view {
  border: none !important;
}

.rbc-month-row {
  min-height: 85px;
}
.rbc-event {
  padding: 1px 2px !important;
  font-size: 0.5rem !important;
  line-height: 0.3rem;
}

/* Remove linhas verticais entre os dias 
.rbc-day-bg {
  border-right: none !important;
} */

/* Remove a borda da agenda semanal/dia 
.rbc-agenda-view table {
  border: none !important;
} */
/* Corrige layout para múltiplos ícones em grade flexível */
.rbc-month-view .rbc-event {
  display: inline-flex !important;
  white-space: normal !important;
  overflow: visible !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Permite que o container do dia se comporte como uma mini-grade */
.rbc-month-row .rbc-row-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 4px;
  padding: 2px;
}

